<!DOCTYPE html>
<html>
	<head>
		<title>Sample SinatraAPP</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="stylesheets/sass/main.scss" rel="stylesheet" media="screen">
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<main>
			<h1><%= yield %></h1>
		</main>
		<script src="javascripts/main.js"></script>
	</body>
</html>
